@font-face {
  font-family: "playfair-bold";
  src: url("fonts/PlayfairDisplay-Bold.ttf") format("woff2");
}

@font-face {
  font-family: "ep-bold";
  src: url("fonts/Epilogue-Bold.ttf") format("woff2");
}

@font-face {
  font-family: "ep-reg";
  src: url("fonts/Epilogue-Regular.ttf") format("woff2");
}

@font-face {
  font-family: "ep-it";
  src: url("fonts/Epilogue-Italic.ttf") format("woff2");
}
